<div id="<%= dom_id mood %>">
  <div>
    <strong>Emotion:</strong>
    <%= mood.emotion %>
  </div>

  <div>
    <strong>Intensity:</strong>
    <%= mood.intensity %>
  </div>

  <div>
    <strong>Notes:</strong>
    <%= mood.notes %>
  </div>

</div>
