
  <div class="center">
    <p style="color: green"><%= notice %></p>
  </div>
  <% content_for :title, "Moods" %>
  <div class="center">
    <h1>Moods</h1>
  </div>
  <div class="moods_container">
    <div id="moods">
    
      <% @moods.each do |mood| %>
        <div class="mood-container">
          <%= render mood %>
        </div>
      <% end %>
    </div>

    <%= link_to "New mood", new_mood_path %>
  </div>