<div id="<%= dom_id objective %>">
  <div>
    <strong>Objective:</strong>
    <%= objective.objective %>
  </div>

  <div>
    <strong>Description:</strong>
    <%= objective.description %>
  </div>

  <div>
    <strong>Deadline:</strong>
    <%= objective.deadline %>
  </div>

</div>
