<main>
    <div class="center">
        <h1>Homepage</h1>
        <p>Basic rules or suggestions:</p>
        <br>
        <ul>
            <li>Tags should be descriptive (example: "work", "family", "health", "sleep", "exercise", "weather")</li>
            <li>Emotions should be accurately represented (i suggest the basic emotions like happy, sad, angry, calm)</li>
            <li>Intensity levels should be true to what you feel</li>
            <li>Notes are reflections about the mood you are in</li>
            <li>Try to be consistent with your entries to track patterns over time</li>
        </ul>
    </div>
</main>