<main>
<div class="alert_container">
  <% if alert = flash[:alert] %>
    <p class="alert_message" id="alert"><%= alert %></p>
  <% end %>

  <% if notice = flash[:notice] %>
    <p class="notice_message" id="notice"><%= notice %></p>
  <% end %>
</div>
    <div class="center">
        <h1>Homepage</h1>
        <p>Basic rules or suggestions:</p>
        <br>
        <ul>
            <li>Tags should be descriptive (example: "work", "family", "health", "sleep", "exercise", "weather")</li>
            <li>Emotions should be accurately represented (i suggest the basic emotions like happy, sad, angry, calm)</li>
            <li>Intensity levels should be true to what you feel (in a scale from 1 to 10)</li>
            <li>Notes are reflections about the mood you are in</li>
            <li>Try to be consistent with your entries to track patterns over time</li>
        </ul>
        <div class="image">
        <%= image_tag("logo mood_logger.png", :alt => "Logotype for the mood_logger website") %>
        </div>
    </div>
</main>