#moods {
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;
}

#moods .mood-container {
    width: 22%;
    flex: 1 0 22%;
    padding: 15px;
    margin: 10px;
    flex-grow: inherit;
}

#moods .mood-container .singular-mood {
    display: flex;
    flex-direction: column;
    align-items: baseline;
    padding: 15px;
    border-radius: 15px;
    color: white;
    background-color: rgb(2, 182, 253);
}

.singular-mood div {
    padding: 5px;
}

.singular-mood a {
    color: white;
    font-weight: bold;
    cursor: pointer;
}